*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2f3542 ;
    text-align: center;
    overflow: hidden;
}

.card
{
    position: relative;
    width:250px;
    height:325px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    transition: all 0.5s;
}

.card::before,
.card::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    transition:  all 0.5s;
    z-index: -1;
}
.card:hover::before
{
    transform: rotate(10deg);
}
.card:hover::after
{
    transform: rotate(20deg);
}

.img-box
{
    position: absolute;
    width:auto;
    inset:5px;
    z-index: 2;
}

.img-box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s;
}

.details
{
    position: absolute;
    top:255px;
    padding:0 2px;
    transform: scale(0);
    transition: all 0.5s;
}

.details p
{
    color: #2f3542;
    letter-spacing: 0.1px;
    font-weight: bold;
}
.details h2
{
    color:crimson;
    letter-spacing:0.1px;
    font-weight: bold;
}

.card:hover .details
{
    transform: scale(1);
}

.img-box:hover img
{
    height:250px;
}
